.partners
{
    background: rgba(6, 148, 42, 0.05);
    padding-top: 70px;
    width: 1348px;
    height: 570px;
}

.partner
{
    padding-top: 60px;
}

.learn-button
{
    background: #F4F5F9;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 15px; 
    display: flex;
    justify-content: flex-start; 
    margin-left: 100px;
    color: #06942A;
    
}

.text-body
{
    display: flex; 
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-start;
    color: #3F403F
}

.how-it-works-img
{
    width: 347px;
    height: 150px;
    margin-top: 20px;
}

.colum2
{
    margin-top: -30px;
    padding: -30px;
}